* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /*para colocar os itens de dentro lado a lado*/
    flex-direction: column; /*todos os itens que eu tiver dentro do body, irao ficar um abaixo do outro*/
    align-items: center; /*ficar tudo bem centralizado*/
}

.rep_name {
    margin-bottom: 2em;
}

.rep_name > a {
    color: rgb(75, 143, 231);
    text-decoration: none;
}

.rep_name > a:hover {
    text-decoration: underline;
}

.name-date {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 1px;
    margin: 0px 8px 0px ;
    background-color: rgb(230, 229, 229);
    border: none;
    border-radius: 5px;    
}

.hr_rep {
    display: none;
}

hr {
    border: 0;
    height: 1px;
    background-color: gray;
    width: 60vw;
}

.name {
    padding: 0.5em;
    color: white;
}

.borda_pesquisa {
    display: flex;
}


.pesquisa {
    border-radius: 5px;
    border: 0.5px solid gray;
    padding: 4em;
    padding-bottom: 6em;
    margin-top: 33vh;
    text-align: center;
    color: white ;
    
}


li {
    display: flex; 
    flex-direction: column;
}

.data-create {
    color: gray;
    font-size: 13px;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 9px 10px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.158);
    border-radius: 50%;
}

.url_language {
    margin-bottom: 5px;
}

.language {
    color: rgb(180, 177, 177);
    float: right;
}


.exibir {
    border: none;
    margin-top: 0;
}

.exibir_hr {
    display: block;
}

.msg_erro {
    margin: -1.5em;
    color: rgb(230, 225, 225);
}

@media (max-width: 994px) {
    hr {
        width: 90vw;
    }

    .data-create {
        font-size: 12px;
    }

}

@media (max-width: 650px) {

    hr {
        margin: auto;
        width: 84vw;
    }

    .url_language {
        font-size: 13px;
        width: 82vw;
    }

}

@media (max-width: 500px) {

    hr {
        margin: auto;
        width: 90vw;
    }

    a {
        margin-left: -0.1px;
        font-size: 14px;
    }

    .url_language {
        font-size: 11px;
        width: 90vw;
    }

    .name-date {
        width: 90vw;
    }

    .pesquisa {
        width: 53vw;
    }

    input {
        margin: 1em;
    }    
}


@media (max-width: 382px) {
    .url_language {
        font-size: 10px;
    }

    input {
        margin: 1em;
    }

    hr {
        width: 90vw;
    }

    a {
        margin-left: -0.5px;
    }
}